.Rproj.user
.Rhistory
.RData
.Ruserdata
# Binaries
*.so
*.dll
*.a
*.o
*.obj

config.status
config.log
prof_conf_test3.c
autom4te.cache

src/Makevars
windows
inst/gdal
inst/proj
inst/share
*.xml
#.tif
#*.png
*.zip
*.rar